/*   DEVELOPER: Brian Tan, IS117-001, Fall 2021 */
body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



th, td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.section {
    padding-top: 1em;
    padding-left: 2em;
    margin-bottom: 90px;
}


.imgcard{
    height: 210px;
    width: 230px;
}


h5{
    float: top;
}



ol li {
    padding: 5px;
    margin-left: 35px;
}
h1{
    font-size: 23px;

}

.carousel{
 margin-top: 20px;
}

.card{
    margin-top: 10px;
}

.card2{
    margin-top: 10px;
    background: lightgrey;
}


h4{
    position: center;
    margin-top: 10px;
}

.two{
    padding-top: 1em;
    margin-left: 55px;

}

.container-lg{
    margin-top: 20px;
}

button.btn.btn-secondary{
    margin-top: 15px;
}

.racepage{
    margin-top: 20px;
    margin-bottom:100px;
}

footer {
    position: sticky;
}

.teampage{
    margin-top: 20px;
    margin-bottom:100px;
}

.driverpage{
    margin-top: 19px;
    margin-bottom:55px;
}


.twoimg {
    justify-content: center;
}


